.one_user{
    display: flex;
    position: sticky;
    max-height: 30rem;
    bottom: 0;
    background-color: #f2b90f;
    border: none;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    border-top: solid;
    border-width: 2rem;
}

.one_user .card-img-left {
    width: 15%;
}

.one_user > *{
    padding: 20px;
}

.card-text> *{
    padding: 10px;
}