body,
html {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
}
.navbar {
  background-color: transparent;
  padding-left: 20px;
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: 100%;
}

/* hero image met upsale */
.hero-image {
  height: 30vw;
  display: flex;
  align-items: center;
  background-image: url("../img/background-default-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

.section {
  padding: 2rem 1.5rem;
}

.container-product-banner {
  height: 20vw;
}

.featured {
  background-size: cover;
  background-repeat: no repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-1 {
  background-image: url("../img/326-juices-mockup.jpg");
}

.product-1 > h1 {
  font-size: 4em;
  font-weight: 900;
  font-family: arial;
  color: black;
}

.product-1 > h2 {
  color: #261414;
  font-family: "arial";
  font-size: 2.56em;
  font-weight: 600;
}

.product-1 > p {
  margin-top: 20px;
  color: #261414;
  font-size: 1.2em;
  line-height: 20px;
  padding-right: 700px;
}

.product-2 {
  background-image: linear-gradient(
      rgba(222, 140, 0, 0.4),
      rgba(222, 140, 0, 0.4)
    ),
    url("../img/Free_Food_Bag_Mockup_3.jpg");
}

.product-2 > h2 {
  font-size: 2.5em;
  font-weight: 800;
  font-family: "Arial";
  color: white;
}

/* Float four columns side by side */
.column {
  display: flex;
  float: left;
  width: 100%;
}

.columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: calc(3.5rem - 1.9rem);
}

.columns:not(:last-child) {
  margin-bottom: calc(3.5rem - 1.5rem);
}
.card {
  display: flex;
  padding: 20px;
  background-color: #f2b90f;
  border: none;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.card-product {
  display: grid;
  background-color: #f2b90f;
  border: none;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  border-radius: 10px;
}

.card-title {
  font-family: "arial";
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 6px;
}

.card-text {
  font-family: "arial";
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 6px;
}

/* avatar img styling */
.card-img-left {
  height: auto;
  width: 25%;
}

.card-container {
  max-width: 100%;
  padding: 27px;
}

.btn {
  background: #0d0d0d;
  border: none;
  padding: 10px;
}

.btn:hover {
  background-color: #401a0c;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

.container-search {
  padding-top: 2em;
}

.modal-backdrop.show {
  z-index: 0;
}

.items {
  background-color: #f28705;
  border: none;
}

.modal-header {
  box-shadow: 1px 1px 5px 0px #a15402;
  border: none;
}

/* Products css */
.product-container {
  float: left;
  max-width: 65%;
  margin-right: 24px;
  padding-top: 12px;
}

/* filter list */

.buttons {
  text-align: center;
  padding: 5rem 0;
  text-transform: uppercase;
  width: 100%;
  color: white;
  justify-content: center;
}

.buttons h3 {
  display: block;
  font-family: "arial";
  font-size: 2em;
  color: #0d0d0d;
  font-weight: 600;
  text-align: center;
}
.buttons .btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: 4.5rem 4rem;
  color: black;
  border-radius: 0;
  box-shadow: 2px 4px 8px 0px grey;
  background: #ebebeb;
  margin: 12px;
}

.icon {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.icon > svg {
  width: 6em;
  height: auto;
  color: #f29f05;
}

.qty {
  margin-left: 2%;
}

.minus,
.plus {
  padding: 6px 20px;
  color: white;
  border-radius: 6px;
}

.count {
  border-radius: 10px;
}

.basket {
  margin-top: 20px;
  width: 100%;
}
