{% extends 'layout.html'%}

{% block title %}Home{% endblock %}
{% block links %}
<link
      rel="stylesheet"
      href="{{url_for('.static', filename='css/admin.css')}}"
    >
{% endblock %}

{% block content %}
    <!--NAVIGATION BAR-->
    <nav class="navbar sticky-top navbar-light">
        <div class="container-fluid">
            <img src="{{url_for('.static', filename='/img/bitmap.png')}}" width="150px" height="90px">
        </div>
    </nav>
    <!-- Search bar -->
    <div class="container-search">
        <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search">
            <i class="fa fa-search"></i>
            <input
                type="text"
                class="form-control"
                placeholder="Zoek hier jouwn account"
            />
            <button class="btn btn-primary">Search</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Leden tuks -->
    <section class="section">
        <div class="card-container">
            {% for row in users|batch(5) %}
            <div class="columns">
            {% for user in row %}
            <!-- Source -->
            <div class="card flex-row column">
                <img
                class="rounded-circle card-img-left"
                src="../static/img/profile_picture/default.jpg"
                />
                <div class="card-body">
                <h4 class="card-title h5 h4-sm">{{user.name}}</h4>
                <p class="card-text">{{user.id}}</p>
                <a href={{url_for("admin_person", id_user=user.id)}}><button>klik hier voor meer informatie</button></a>
                </div>
            </div>
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="one_user">
        <img
        class="rounded-circle card-img-left"
        src="../static/img/profile_picture/default.jpg"
        />
        <div class="card-body">
        <h4 class="card-title h5 h4-sm">{{one_user.name}}</h4>
            <div class="card-text">
                <p>Email: {{one_user.email}}</p>
                <p>Telefoon nummer: {{one_user.phone_number}}</p>
                <p>Te betalen aan het einde van de maand: {{one_user.amount_due}}</p>
                <p>Laaste bestelde producten: {% for product in products %} {{product.name}} {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}