{% extends 'layout.html'%} {% block title %}Home{% endblock %} {% block content
%}
<!--NAVIGATION BAR-->
<nav class="navbar sticky-top navbar-light">
  <div class="container-fluid">
    <img
      src="{{url_for('.static', filename='/img/bitmap.png')}}"
      width="150px"
      height="90px"
    />
  </div>
</nav>
<!-- SEARCH BAR -->

<!-- HERO IMAGE -->
<div class="container-fluid hero-image">
  <div
    class="row align-item-md-center justify-content-center container-product-banner"
  >
    <div class="col-md-7">
      <div class="h-100 p-5 rounded-3 product-1 featured">
        <h1>Speciale prijs</h1>
        <h2>Sinasaappelsap 300ml</h2>
        <p>
          Laatste kans om jou pakje Sinasappelsap te scoren voordat ze
          verdwijnen uit het schap. nu 0.20 cent
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="h-100 p-5 rounded-3 product-2 featured">
        <h2>De 5 best verkochte producten nu in handbereik</h2>
      </div>
    </div>
  </div>
</div>

<!-- Search bar -->
<div class="container-search">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="search">
        <i class="fa fa-search"></i>
        <input
          type="text"
          class="form-control"
          placeholder="Zoek hier jouwn account"
        />
        <button class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>
<!-- Leden tuks -->
<section class="section">
  <div class="card-container">
    {% for row in users|batch(5) %}
    <div class="columns">
      {% for user in row %}
      <!-- Source -->
      <div class="card flex-row column">
        {% if user.profile_file == "" %}
        <img
          class="rounded-circle card-img-left"
          src="../static/img/profile_picture/default.jpg"
        />
        {%else%}
        <img
        class="rounded-circle card-img-left"
        src="../static/img/profile_picture/{{user.profile_file}}.jpg"
        />
        {%endif%}
        <div class="card-body">
          <h4 class="card-title h5 h4-sm">{{user.name}}</h4>
          <p class="card-text">{{user.id}}</p>
          <!-- Button trigger modal -->
          <form action="{{url_for('home')}}" method="post">
            <input type="hidden" value="{{user.id}}" name='user_id'/>
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Launch demo modal
            </button>
          </form>
          
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content items">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Geef verificatie code op</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-outline">
            <input type="number" id="typeNumber" class="form-control" name='number'/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
