<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>{% block title required %}{% endblock %}</title>

    <!--BOOTSTRAP CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    >

    <!--CSS stylesheets-->
    <link
      rel="stylesheet"
      href="{{url_for('.static', filename='css/style.css')}}"
    >
    {% block links%}{% endblock %}
  </head>
  <body>
    {% block content required%}{% endblock %}

    <!--Javascript bundle popper bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Javascript  -->
    <script>
    var checkClass = function() {
    if ( $('.item').hasClass('hide') ) {
      $('.item').removeClass('hide');
    }
    };

    // Category filters
    $('.all').click( function() {
      checkClass();
    });
    $('.white').click( function() {
      checkClass();
      $('.item:not(.white)').toggleClass('hide');
    });
    $('.yellow').click( function() {
      checkClass();
      $('.item:not(.yellow)').toggleClass('hide');
    });
    $('.red').click( function() {
      checkClass();
      $('.item:not(.red)').toggleClass('hide');
    });

    // Active tag
    $('.button').click(function(){
      $('.button').removeClass('active');
      $(this).addClass('active');
    });

    $(document).ready(function(){
		    $('.count').prop('disabled', true);
   			$(document).on('click','.plus',function(){
          var count = $(this).parent().children()[1];
          $(count).val(parseInt($(count).val()) + 1)
    		});
        	$(document).on('click','.minus',function(){
            var count = $(this).parent().children()[1];
            $(count).val(parseInt($(count).val()) - 1)
    				if ($(count).val() == 0) {
						$(count).val(1);
					}
    	    	});
 		});
    </script>
  </body>
</html>
