{% extends 'layout.html'%} {% block title %}Home{% endblock %} {% block content
    %}
    <!--NAVIGATION BAR-->
    <nav class="navbar sticky-top navbar-light">
      <div class="container-fluid">
        <img
          src="{{url_for('.static', filename='/img/bitmap.png')}}"
          width="150px"
          height="90px"
        />
      </div>
    </nav>
    <!-- SEARCH BAR -->
    
    <!-- HERO IMAGE -->
    <div class="container-fluid hero-image">
      <div
        class="row align-item-md-center justify-content-center container-product-banner"
      >
        <div class="col-md-7">
          <div class="h-100 p-5 rounded-3 product-1 featured">
            <h1>Speciale prijs</h1>
            <h2>Sinasaappelsap 300ml</h2>
            <p>
              Laatste kans om jou pakje Sinasappelsap te scoren voordat ze
              verdwijnen uit het schap. nu 0.20 cent
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-5 rounded-3 product-2 featured">
            <h2>De 5 best verkochte producten nu in handbereik</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- category search -->
    <section class="category">
        <div class="container">
            <div class="buttons">
                <button class="button btn all">
                    All</button>
                <button class="button btn white">
                    Snacks</button>
                <button class="button btn grey">Drinks</button>
                <button class="button btn blue">Alcoholic beverages</button>
                <button class="button btn yellow">Fruit</button>
              </div>
        </div>
    </section>
    <!-- Leden tuks -->
    <section class="section">
      <div class="card-container product-container">
        {% for row in products|batch(4) %}
        <div class="columns">
          {% for product in row %}
          <!-- Source -->
          <div class="card-product flex-row column item white">
            <img
              class="card-img-top"
              src="../static/img/profile_picture/default.jpg"
            />
            <div class="card-body" style="user-select:none">
              <h4 class="card-title h5 h4-sm">{{product.name}}</h4>
              <p class="card-text">{{product.price}}</p>
              <div class="qty mt-5">
                <span class="minus bg-dark">-</span>
                <input type="number" class="count" name="qty" value="1">
                <span class="plus bg-dark">+</span>
              </div>
              <button class="btn btn-primary btn-md basket">kopen</button>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="container">
            <div class="row w-100">
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                    <p class="mb-5 text-center">
                        <i class="text-info font-weight-bold">3</i> items in your cart</p>
                    <table id="shoppingCart" class="table table-condensed table-responsive">
                        <thead>
                            
                            
                            <tr>
                                <th style="width:60%">Product</th>
                                <th style="width:12%">Price</th>
                                <th style="width:10%">Quantity</th>
                                <th style="width:16%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for i in product_len%}
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <img src="https://via.placeholder.com/250x250/5fa9f8/ffffff" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h4>{{products[i].name}}</h4>
                                            <p class="font-weight-light">Brand &amp; Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">${{products[i].price}}</td>
                                <td data-th="Quantity">
                                    <input type="number" class="form-control form-control-lg text-center" value="1">
                                </td>
                                <td class="actions" data-th="">
                                    <div class="text-right">
                                        <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                            <i class="fas fa-sync"></i>
                                        </button>
                                        <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <div class="float-right text-right">
                        <h4>Subtotal:</h4>
                        <h1>$99.00</h1>
                    </div>
                </div>
            </div>
            <div class="row mt-4 d-flex align-items-center">
                <div class="col-sm-6 order-md-2 text-right">
                    <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
                </div>
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                    <a href="catalog.html">
                        <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
    </section>
    

    
    {% endblock %}
    