{% extends 'layout.html'%}
{% block title %}Products{% endblock %}
{% block content %}
<form action="{{url_for('verificate_code', user_id=user_id)}}" method="post">
    <input type="text" placeholder="code" name="code" required>
    <input type="hidden" value="{{user_id}}" />
    <button type="submit">Submit</button>
</form>
{% endblock %}